*{margin: 0;}

.header {
    background: #0077c0;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #ebd5d5;
    padding: 4px;
    font-family: sans-serif;
}

.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.languages {
    background: white;
    border: 1px solid gray;
}

#editor { height: 400px; }

.button-container {
    text-align: right;
    padding: 4px;
}

.btn {
    border: 0;
    width: 4%;
    position: relative;
    padding: 5px;
    padding-right: 1.5%;
    background: #0077c0;
    color: #232931;
    font-weight: bolder;
    border-radius: 10%;
}

.output {
        padding: 4px;
        border: 2px solid gray;
        min-height: 100px;
        width: 99%;
        resize: none;

}